* {
    margin: 0px;
    padding: 0px;
}

body {
    margin-top: 25px;
    font-family: 'Poppins', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

h1 {
    font-size: 49px;
}

.paragraph-margin {
    font-size: 19px;
    margin-top: 10%;
    margin-bottom: 10%;
}

.font-color {
    color: tomato;
}

.content-flex {
    display: flex;
    padding-left: 11%;
    margin-bottom: 5%;
}

.heading {
    margin-bottom: 15px;
    margin-left: 8%;
}

.heading img {
    width: 75%;
    padding-left: 30%;
}

.first-button {
    text-decoration: none;
    background-image: linear-gradient(rgb(108, 160, 173), rgb(40, 103, 139));
    padding: 12px 39px;
    border-radius: 5px;
    color: white;
}

.first-button:hover {
    background-image: linear-gradient(rgb(166, 197, 243), rgb(99, 163, 236));
}

.ver-line {
    border-left: 6px solid rgb(216, 129, 204);
    left: 30%;
    height: 110px;
    border-radius: 5px;
}

.box {
    height: 340px;
    width: 400px;
    border-radius: 20px;
    padding-left: 2%;
    margin-left: 3%;
}

#box-color-1 {
    background-image: linear-gradient(rgb(192, 215, 226), rgb(128, 128, 228));
}

#box-color-2 {
    background-image: linear-gradient(rgb(235, 194, 194), rgb(214, 133, 119));
}

#box-color-3 {
    background-image: linear-gradient(rgb(226, 187, 226), rgb(170, 93, 166));
}

.box img {
    width: 150px;
    padding-top: 5%;
}

.box-position {
    margin-right: 10%;
    margin-left: -4%;
}

.heading-2 {
    text-align: center;
    margin-bottom: 5%;
}

.mission-about {
    font-size: 16px;
}

.heading-2 img {
    width: 100%;
    padding-right: 50px;
}

.heading-3 {
    margin-right: 9%;
    margin-bottom: 5%;
}

.heading-3 img {
    width: 80%;
    margin-left: 13%;
}

.heading-4 img {
    width: 290px;
    padding-right: 130px;
}

.section-box {
    margin-left: 7%;
}

footer {
    background-color: rgb(44, 48, 53);
}

.footer-heading {
    font-family: 'Lobster Two', cursive;
    text-align: center;
    color: white;
}

.footer-description {
    color: white;
    text-align: center;
}